fastapi
uvicorn[standard]
pydantic
python-dotenv
# --- Banco de Dados ---
sqlalchemy
asyncpg
psycopg2-binary
pgvector
# --- Filas e Workers ---
celery
redis
# --- APIs Externas ---
httpx
openai
unstructured-client
# --- NLP/Tokenização ---
tiktoken

# --- Migrações de Banco de Dados ---
alembic
alembic-postgresql-enum
